input {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var( --white);
    border-radius: 3.125rem;
    padding: 1.25rem 3rem 1.25rem 1.25rem;
}

input:focus {
    outline: none;
    border: 2px solid;
    filter: drop-shadow(5px 5px 15px rgba(255, 255, 255, 0.021));
}

input.invalid {
    border-color: var(--yellow);
}
