/* STYLES GERAIS DA PÃGINA */
body {
    display: flex;
}

section#form,
section#picture {
    flex: 50%;
    padding: 2.1875rem 2.5rem;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* STYLES DA SECTION FORM */
section#form,
section#picture {
    background: linear-gradient(180deg, var(--black-gradient-top) 0%, var(--black-gradient-bottom) 100%);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* STYLES DA SECTION PICTURE */
section#picture > img.background-picture {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
}

section#picture > div:first-of-type {
    display: flex;
    justify-content: center;
    z-index: 1001;
}

section#picture > div:first-of-type > img {
    z-index: inherit;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */