@import "typography.css";

body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

:root {
    --white: #FFFFFF;
    --red: #C12D18;
    --yellow: #E9B425;
    --black: #222222;
    --gray: #E0E0E0;

    --black-gradient-top: #33383D;
    --black-gradient-bottom: #1C1D20;

    --orange-gradient-left: #FF2D04;
    --orange-gradient-right: #C13216;
}